<div class="js-grid">
  <div class="js-grid-sizer"></div>
  <div class="js-gutter-sizer"></div>
  <!-- Post -->
  <% @feeds.each do |f| %>
  <!-- 글 내용 및 정보 -->
  <div class="mdl-card mdl-shadow--2dp">
    <div class="mdl-card__supporting-text">
      <ul class="mdl-list mt-0 no-padding">
        <li class="mdl-list__item mdl-list__item--two-line no-padding">
          <span class="mdl-list__item-primary-content">
            <i class="material-icons mdl-list__item-avatar">person</i>
            <strong><%= f.user.name %></strong>
            <span class="mdl-list__item-sub-title"><%= f.created_at.strftime("%Y-%m-%d") %></span>
          </span>
        </li>
      </ul>
      <span class="mdl-typography--body-2"><%= f.title %></span>
      <p><%= f.content %></p>
    </div>
    <!-- 댓글 -->
    <div class="mdl-card__actions mdl-card--border pb-0">
      <!-- 더보기 만들면 -->
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        댓글 더보기
      </a>
      <!-- 댓글 목록 -->
      <ul class="mdl-list no-margin no-padding">
        <% f.feed_comments.each do |c| %>
        <li class="mdl-list__item comment">
          <span class="mdl-list__item-primary-content">
            <p class="mdl-list__item-text-body mb-0">
              <strong><%= c.user.name%></strong> &nbsp; 
              <%= c.content %>
            </p>
          </span>
          <% if c.user == current_user %>
            <span class="mdl-list__item-secondary-content">
              <%=link_to "/feeds/#{f.id}/comments/#{c.id}", method: :delete, :class => "mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect mdl-color-text--grey-500" do %>
                <i class="material-icons">delete</i>
              <% end %>
            </span>
          <% end %> 
        </li>
        <% end %>
      </ul>
      <!-- 댓글 작성 -->
      <div class="mdl-grid pb-0 pt-0">
        <form class="mdl-cell mdl-cell--12-col mb-0 mt-0" action="/feeds/<%=f.id%>/comments" method="POST">
          <div class="mdl-grid--no-spacing">
            <div class="mdl-textfield mdl-js-textfield mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
              <textarea class="mdl-textfield__input" type="text" rows= "1" name="content" ></textarea>
              <label class="mdl-textfield__label" for="sample5">댓글 작성하기</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-cell--2-col-desktop mdl-cell--1-col-tablet mdl-cell--1-col-phone mdl-cell--3-offset-phone">
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary">
                등록
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- 도구모음 -->
    <div class="mdl-card__menu">

      <!-- 내 글이면 -->
      <% if f.user == current_user %>

        <!-- 수정 -->
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect mdl-color-text--grey-500">
          <i class="material-icons">edit</i>
        </button>
        <%=link_to "/feeds/#{f.id}", method: :delete, :class => "mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect mdl-color-text--grey-500" do %>
          <i class="material-icons">delete</i>
        <% end %>

      <!-- 타인의 글이면 -->
      <% else %>

        <!-- 팔로우 -->
        <% if current_user.followings.include? f.user %>
          <%=link_to "/follows/#{f.user.id}", method: :delete, :class => "mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect mdl-color-text--pink-500" do %>
            <i class="material-icons">person_add</i>
          <% end %>
        <% else %>
          <%=link_to "/follows/#{f.user.id}", method: :get, :class => "mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect mdl-color-text--grey-500" do %>
            <i class="material-icons">person_add</i>
          <% end %>
        <% end %>
        <!-- 좋아요 -->
        <% if f.liking_users.include? current_user %>
          <%=link_to "/feeds/#{f.id}/like", :class => "mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect mdl-color-text--pink-500" do %>
            <i class="material-icons">favorite</i>
          <% end %>
        <% else %>
          <%=link_to "/feeds/#{f.id}/like", :class => "mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect mdl-color-text--grey-500" do %>
            <i class="material-icons">favorite_border</i>
          <% end %>
        <% end %>

      <% end %>
      
    </div>
  </div>
  <% end %>

</div>

<!-- Create -->
<a href="/feeds/new" id="js-new-button" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
  <i class="material-icons">create</i>
</a>
