<% @feeds.each do |f| %>
  <div class="demo-card-wide mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <ul class="demo-list-two mdl-list full-width no-padding no-margin">
        <li class="mdl-list__item mdl-list__item--two-line no-padding no-margin">
          <span class="mdl-list__item-primary-content">
            <i class="material-icons mdl-list__item-avatar">person</i>
            <span><%= f.user.name %></span>
            <span class="mdl-list__item-sub-title"><%= f.created_at.strftime("%Y-%m-%d") %></span>
          </span>
        </li>
      </ul>
    </div>
    <div class="mdl-card__supporting-text">
      <strong><div><%= f.title %></div></strong>
      <div><%= f.content %></div>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        댓글 더보기
      </a>
      <ul class="demo-list-three mdl-list no-margin no-padding">
        <% f.feed_comments.each do |c| %>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <span class="mdl-list__item-text-body">
                <strong><span><%= c.user.name %></span></strong> <%= c.content %>
              </span>
            </span>
            <% if c.user == current_user %>
              <span class="mdl-list__item-secondary-content">
                <a class="mdl-list__item-secondary-action" href="/feeds/<%= f.id %>/comments/<%= c.id %>"><i class="material-icons">delete</i></a>
              </span>
            <% end %>
          </li>
        <% end %>
      </ul>
      <form action='/feeds/<%=f.id%>/comments' method='POST'>
        <input type='text' name='content'/>
        <button>댓글 작성</button>
      </form>
    </div>
    <div class="mdl-card__menu">
      <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <i class="material-icons">share</i>
      </button>
    </div>
  </div>
<% end %>
