<% @feeds.each do |f| %>
  <div class="demo-card-wide mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Welcome</h2>
    </div>
    <div class="mdl-card__supporting-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Mauris sagittis pellentesque lacus eleifend lacinia...
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        Get Started
      </a>
    </div>
    <div class="mdl-card__menu">
      <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <i class="material-icons">share</i>
      </button>
    </div>
  </div>

  <div style='border: 1px solid black;'>
    <div>
      <% if f.liking_users.include? current_user %>
        <%=link_to '좋아요 취소', "/feeds/#{f.id}/like" %>
      <% else %>
        <%=link_to '좋아요', "/feeds/#{f.id}/like" %>
      <% end %>
      <%=link_to '삭제', "/feeds/#{f.id}", method: :delete %>
    </div>
    <div><%= f.title %></div>
    <div><%= f.content %></div>
    <div><%= f.user.email%></div>
    <div><%= f.user.name%></div>
    <% unless current_user.followings.include? f.user %>
      <%=link_to '글쓴이를 팔로우', "/follows/#{f.user.id}", method: :get %>
    <% end %>
    <div style='border: 1px solid gray'>
      <div>
        <strong>댓글</strong>
        <% f.feed_comments.each do |c| %>
          <div>
            <%= c.content %>
            <%= c.user.email%>
            <%=link_to '삭제', "/feeds/#{f.id}/comments/#{c.id}", method: :delete %>
          </div>
        <% end %>
      </div>
      <div>
        <form action='/feeds/<%=f.id%>/comments' method='POST'>
          <input type='text' name='content'/>
          <button>댓글 작성</button>
        </form>
      </div>
    </div>
  </div>
<% end %>
