<% @feeds.each do |f| %>
  <div class="demo-card-wide mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text"><%= f.user.name %></h2>
    </div>
    <div class="mdl-card__supporting-text">
      <div><%= f.title %></div>
      <div><%= f.content %></div>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        댓글 더보기
      </a>
      <% f.feed_comments.each do |c| %>
        <div>
          <%= c.user.name %>
          <%= c.content %>
          <% if c.user == current_user %>
            <a href='feeds/<%= f.id %>/comments/<%= c.id %>'>
              삭제하기
            </a>
          <% end %>
        </div>
      <% end %>
      <form action='/feeds/<%=f.id%>/comments' method='POST'>
        <input type='text' name='content'/>
        <button>댓글 작성</button>
      </form>
    </div>
    <div class="mdl-card__menu">
      <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <i class="material-icons">share</i>
      </button>
    </div>
  </div>
<% end %>
