<div class="js-grid">
  <div class="js-grid-sizer"></div>
  <div class="js-gutter-sizer"></div>

<!--
  Post
-->
  <% @feeds.each do |f| %>
  <!-- 글 내용 및 정보 -->
  <div class="mdl-card mdl-shadow--2dp">
    <div class="mdl-card__supporting-text">
      <div class="mdl-list mt-0 pt-0">
        <div class="mdl-list__item mdl-list__item--two-line no-padding">
          <span class="mdl-list__item-primary-content">
            <i class="material-icons mdl-list__item-avatar">person</i>
            <strong><%= f.user.name %></strong>
            <span class="mdl-list__item-sub-title"><%= f.created_at.strftime("%Y-%m-%d") %></span>
          </span>
        </div>
      </div>
      <span class="mdl-typography--body-2"><%= f.title %></span>
      <p><%= f.content %></p>
    </div>  

    <!-- 
      댓글
    -->
    <div class="mdl-card__actions mdl-card--border">
      <!-- 더보기 버튼 -->
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect btn-more-comment">
        댓글 더보기
      </a>
      <!-- 댓글 목록 -->
      <ul class="mdl-list no-margin no-padding">
        <% f.feed_comments.each_with_index do |c, i| %>
        <% if i == 0 %>
         <li class="mdl-list__item comment newest-comment">
        <% else %>
          <li class="mdl-list__item comment" style="display:none;">
        <% end %>
          <span class="mdl-list__item-primary-content">
            <p class="mdl-list__item-text-body mb-0">
              <strong> <%= c.user.name %></strong> &nbsp;
              <%= c.content %>
            </p>
          </span>
          <% if c.user == current_user %>
            <span class="mdl-list__item-secondary-content">
              <%=link_to "/feeds/#{f.id}/comments/#{c.id}", method: :delete, :data => {:feed_id => f.id, :comment_id => c.id}, :class => "ajax-delete mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect mdl-color-text--grey-500" do %>
                <i class="material-icons">delete</i>
              <% end %>
            </span>
          <% end %> 
        </li>
        <% end %>
      </ul>

      <!-- 댓글 작성 -->
      <%= render partial: "comment_form", locals: {id: f.id} %>
      <!-- 댓글작성 form 끝 -->
    </div>

    <!--
      도구모음
    -->
     <div class="mdl-card__menu">
      <!-- 내 글이면 -->
      <% if f.user == current_user %>

        <!-- 수정 -->
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect mdl-color-text--grey-500">
          <i class="material-icons">edit</i>
        </button>
        <%=link_to "/feeds/#{f.id}", method: :delete, :class => "mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect mdl-color-text--grey-500" do %>
          <i class="material-icons">delete</i>
        <% end %>

      <!-- 타인의 글이면 -->
      <% else %>

        <!-- 팔로우 -->
        <% if current_user.followings.include? f.user %>
          <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect mdl-color-text--accent">
            <i class="material-icons">person_add</i>
          </button>
        <% else %>
          <%=link_to "/follows/#{f.user.id}", method: :get, :class => "mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect mdl-color-text--grey-500" do %>
            <i class="material-icons">person_add</i>
          <% end %>
        <% end %>
        <!-- 좋아요 -->
        <% if f.liking_users.include? current_user %>
          <%=link_to "/feeds/#{f.id}/like", :class => "mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect mdl-color-text--accent" do %>
            <i class="material-icons">favorite</i>
          <% end %>
        <% else %>
          <%=link_to "/feeds/#{f.id}/like", :class => "mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect mdl-color-text--grey-500" do %>
            <i class="material-icons">favorite_border</i>
          <% end %>
        <% end %>

      <% end %>
    </div>
  </div>
  <% end %>

</div>

<!-- 
  Create 
-->
<a href="/feeds/new" id="js-new-button" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
  <i class="material-icons">create</i>
</a>

<script type="text/javascript">
  // 댓글 더보기 --start--
  $(document).ready(function(){
    $("a.btn-more-comment").on("click", function(event){
      var msnry = Masonry.data(".js-grid")
      $(this).toggleClass("hiding-comment");

      if($(this).hasClass("hiding-comment")) {
        $(this).text("댓글 숨기기");
        $(this).closest("div").find("ul").find(".comment").not(".newest-comment").show();
      } else {
        $(this).text("댓글 더보기");
        $(this).closest("div").find("ul").find(".comment").not(".newest-comment").hide();
      }
      msnry.reloadItems();
      msnry.layout();
    });
  })
  // 댓글 더보기 --end--

  // ajax --start--
  $(document).ready(function(){
    $(".ajax-delete").on("click", function(event){
      const feed_id = $(this).data("feed_id")
      const comment_id = $(this).data("comment_id")
      $.ajax({
        type: "DELETE",
        dataType: "JSON",
        url: "/feeds/" + feed_id + "/comments/" + comment_id,
        data: {
        },
        success: function(data) {
          return;
        }
      });
    })
  })

  // ajax --end--
</script>

