<h1>Event Page</h1>
<a href='/feeds'>Feed Page</a>
<a href='/events'>Event Page</a>
<br>
<br>
<a href='/events/new'>Event 새로 만들기</a>

<% @events.each do |e| %>
  <div style='border: 1px solid black;'>
    <div>
      <%=link_to '삭제', "/events/#{e.id}", method: :delete %>
    </div>
    <div><%= e.date %></div>
    <div><%= e.title %></div>
    <div style='border: 1px solid gray'>
      <div>
        <strong>댓글</strong>
        <% e.event_comments.each do |c| %>
          <div>
            <%= c.content %>
            <%=link_to '삭제', "/events/#{e.id}/comments/#{c.id}", method: :delete %>
          </div>
        <% end %>
      </div>
      <div>
        <form action='/events/<%=e.id%>/comments' method='POST'>
          <input type='text' name='content'/>
          <button>댓글 작성</button>
        </form>
      </div>
    </div>
  </div>
<% end %>
