<!DOCTYPE html>
<html>
  <head>
    <title>Likenew</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="mdl-color--grey-50">
    <!-- For signed in user -->
    <% if user_signed_in? %>
    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-drawer">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">Title</span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Right aligned menu below button -->
          <button id="demo-menu-lower-right"
            class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">more_vert</i>
          </button>
          <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
            for="demo-menu-lower-right">
            <li disabled class="mdl-menu__item"><%= current_user.name %>님</li>
            <a class="mdl-menu__item" href="/users/edit">내 계정</a>
            <a class="mdl-menu__item" href="/users/sign_out" data-method="delete">로그아웃</a>
          </ul>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Likelion</span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="/feeds">피드</a>
          <a class="mdl-navigation__link" href="/events">이벤트</a>
        </nav>
        <div class="demo-list-action mdl-list">
          <% User.all.each do |u| %>
            <% if u == current_user %>
              <li class="mdl-list__item mdl-list__item--two-line">
                <span class="mdl-list__item-primary-content">
                  <i class="material-icons mdl-list__item-avatar">person</i>
                  <span>Bryan Cranston</span>
                  <span class="mdl-list__item-sub-title">62 Episodes</span>
                </span>
                <span class="mdl-list__item-secondary-content">
                  <span class="mdl-list__item-secondary-info">Actor</span>
                  <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
                </span>
              </li>
            <% else %>
          <div class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar">person</i>
              <span><%= u.name %></span>
            </span>
            <% if current_user.followings.include? u %>
            <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">person_add</i></a>
          <% else %>
            <a class="mdl-list__item-secondary-action mdl-color-text--grey-500" href="/follows/<%= u.id %>"><i class="material-icons">person_add</i></a>
          <% end %>
          </div>
        <% end %>
        <% end %>
        </div>
      </div>

    <!-- For signing in user -->
  <% else %>
    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">Title</span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation. We hide it in small screens. -->
          <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a class="mdl-navigation__link" href="/users/sign_in">로그인</a>
            <a class="mdl-navigation__link" href="/users/sign_up">회원가입</a>
          </nav>
        </div>
      </header>
  <% end %>

      <main class="mdl-layout__content">
        <div class="page-content"><%= yield %></div>
      </main>
    </div>

  </body>
</html>
