<!DOCTYPE html>
<html>
  <head>
    <title>Likenew</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='header'>
      <div class='container'>
        <% if user_signed_in? %>
          <%= link_to 'Sign out', '/users/sign_out', method: :delete  %>
        <% else %>
          <a href="/users/sign_in"> Sign in </a>
          <a href="/users/sign_up"> Sign up </a>
        <% end %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
